<h1>Here There Everywhere</h1>

<% if current_user %>
  <%= button_to "log out", destroy_user_session_url, method: :delete %>
<% else %>
  <%= link_to "sign in", new_user_session_url %>
  <%= link_to "sign up", new_user_registration_url %>
<% end %>
